*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

h1{
    text-align: center;
}

fieldset{
    background-color: whitesmoke;
    padding: 30px 50px;
    border-radius: 50px;
  
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.box{
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    padding: 25px 50px;
    border-radius: 20px;
}

.form-box{
    width: 450px;
    margin: 0px 10px;
}

.form-box header{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid;
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
}

.form-box form.field{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
}

.form-box form.input input{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid;
    outline: none;
}

.btn{
    width: 300px;
    height: 35px;
    background: #124E66;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: all-35;
    margin-top: 10px;
    margin-left: 20px;
    padding: 0px 10px;
}

.btn:hover{
    opacity: 0.82;
}

.submit{
    width: 100%;
}

.check{
    font-weight: bold;
}

.links{
    margin-top: 20px;
    margin-left: 70px;
    font-weight: bold;
}